// ===== My scss file   =====
// ===== Imports        =====
// ===== Variables      =====
// ===== Standart       =====
// ===== Mixins         =====

// ===== / My scss file =====

// ===== Imports =====
@import '_normalize';
@import '_fonts';
// ===== / Imports =====

// ===== Variables =====
$white: #fff;
$accent: #c7b299;
// ===== / Variables =====

// ===== Standart =====
body {
    font-size: 14px;
    // font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

// ===== / Standart =====

// ===== Mixins =====

@mixin Montserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin Raleway {
    font-family: 'Raleway', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto', sans-serif;
}

// ===== / Mixins =====

.hide {
    display: none;
}

.show {
    display: block;
}

.btn {
    @include Raleway();
    padding: 17px 49px;
    background-color: #998675;
    border-radius: 3px;
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 0 -2px #736357 inset;
    outline: none;
}

// WRAPPER
.wrapper {
    display: flex;
    height: 100%;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-c {
    justify-content: center;
}
.jc-fs{
    justify-content: flex-start;
}
.jc-fe{
    justify-content: flex-end;
}

.ai-c {
    align-items: center;
}

.fx-wrap {
    flex-wrap: wrap;
}

// WRAPPER


// ===== Header =====
.header {
    width: 100%;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .active {
        color: $accent;
    }

    &-desktop {
        height: 140px;

        &__menu {
            display: flex;
            justify-content: flex-end;
            color: $white;

            &-links {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 30px;

                & li {
                    margin: 0 15px;

                    &:last-child {
                        margin: 0;
                        margin-left: 15px;
                    }
                }

                & a {
                    @include Montserrat();
                    font-weight: 300;
                    font-size: 14px;
                    color: $white;
                }
            }

            &-icons {
                display: flex;
                justify-content: center;

                &_ic {
                    cursor: pointer;
                    margin: 0 15px;
                    width: 26px;
                    height: 26px;
                    font-size: 18px;
                    position: relative;
                }

                .cart::before,
                .search::before {
                    font-family: 'icomoon';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .cart::before {
                    content: "\e905";
                }

                .search::before {
                    content: "\e907";
                }
            }
        }
    }

    &-mobile {
        height: 140px;
        display: none;
        position: relative;

        &__menu {
            .open-menu {
                cursor: pointer;
                width: 55px;
                height: 55px;
                background-color: #362f2d;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: $white;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
            }



            &-links {
                position: absolute;
                z-index: 100;
                top: 115px;
                left: -73px;
                width: 200px;
                padding: 25px 0;
                background-color: #362f2d;
                text-align: center;
                box-shadow: 0px 0px 37px 10px rgba(0, 0, 0, .5);

                &::before {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background-color: #362f2d;
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);

                }

                & li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                & a {
                    @include Montserrat();
                    color: #fff;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        &__brand {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-content {
        position: relative;
        text-align: center;
        padding-bottom: 10vh;

        &__slider {
            padding-top: 22vh;
            width: 80%;
            height: 600px;
            margin: 0 auto;

            &-slide {
                height: 48vh;
                @include Raleway();
                color: $white;
                outline: none;

                &_t-title {
                    font-size: 36px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }

                &_b-title {
                    font-size: 52px;
                    font-weight: 800;
                    margin-bottom: 15px;
                }

                &_text {
                    @include Montserrat();
                    font-size: 16px;
                    font-weight: 300;
                    max-width: 595px;
                    margin: 0 auto;
                    word-wrap: break-word;
                    margin-bottom: 75px;
                    line-height: 24px;
                }
            }

        }

        &__slider-next,
        &__slider-prev {
            color: #d3c1ad;
            font-size: 60px;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all .3s;
            width: 40px;
            height: 75px;

            &:hover {
                transform: translateY(-50%) scale(1.2);
            }

            &::before {
                font-family: 'icomoon';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgba(255, 255, 255, .5);
            }
        }

        &__slider-prev {
            left: 0%;

            &::before {
                content: "\e900";
            }
        }

        &__slider-next {
            right: 0%;

            &::before {
                content: "\e901";
            }
        }

        .slick-disabled {
            transition: all .3s;
            transform: translateY(-50%) scale(0);
        }
    }
}

.header__btn {
    margin-bottom: 20px;
    display: block;
}

.slick-dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        display: flex;
        align-items: center;
        margin: 5px;

        button {
            box-sizing: border-box;
            transition: all 0.3s;
            height: 11px;
            width: 11px;
            border: none;
            text-indent: -999999px;
            background-color: #a09e9e;
            border-radius: 50%;
            padding: 5px;
            outline: none;
        }
    }

    .slick-active button {
        background-color: transparent;
        border: 2px solid #d3c1ad;
        height: 10px;
        width: 10px;
    }
}

// ===== / Header =====

.scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: rgba(#000, 0.2);
    border-radius: 50%;
    transition: all .3s;
    transform: translateX(100px);
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(#000, 0.5);
    }

    svg {
        width: 15px;
        fill: #fff;
        transform: rotate(90deg) translateX(-12px);
    }
}

// ===== Services =====
$services: #555;
$services-accent: #c7b299;

.services {
    padding: 10vh 0;

    &-card {
        width: 260px;
        text-align: center;
        margin: 0 10px;

        &:hover &__image svg {
            fill: $services-accent;
        }

        &:hover &__title {
            color: $services-accent;
        }

        &:hover &__line {
            background-color: $services-accent;
        }

        &__image {
            margin-bottom: 18px;

            svg {
                transition: fill 0.3s;
                fill: $services;
            }
        }

        &__title {
            transition: all .3s;
            @include Raleway();
            font-size: 22px;
            font-weight: 600;
            color: $services;
            margin-bottom: 13px;
        }

        &__text {
            @include Montserrat();
            font-size: 14px;
            line-height: 24px;
            color: #8c8c8c;
            font-weight: 300;
            margin-bottom: 30px;
        }

        &__line {
            transition: all .5s;
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
            margin: 0 auto;
        }
    }
}

// ===== / Services =====

// ===== Ideas =====

.ideas {
    background-color: #fbfaf8;
    text-align: center;
    padding-top: 10vh;

    &__title {
        @include Raleway();
        font-size: 30px;
        font-weight: 600;
        color: #555;
        margin-bottom: 15px;
    }

    &__text {
        @include Montserrat();
        font-size: 16px;
        color: #8c8c8c;
        font-weight: 300;
        max-width: 780px;
        margin: 0 auto;
        line-height: 28px;
        margin-bottom: 15px;
    }

    &__image {
        max-width: 100%;
        height: 482px;
        background-image: url(../img/ideas-bg.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
}

// ===== / Ideas =====

// ===== Purchase =====
.purchase {
    padding: 40px 0 50px 0;
    background: linear-gradient(to right, #211b19 0%, #4e3427 100%);

    &-column {
        &:first-child {
            text-align: left;
            width: 70%;
        }

        &:last-child {
            text-align: right;
            width: 30%;
        }

        &__title {
            @include Raleway();
            font-size: 28px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 5px;

            &-accent {
                color: #c7b299;
            }
        }

        &__text {
            @include Montserrat();
            font-size: 18px;
            font-weight: 300;
            color: #615855;
        }
    }
}

// ===== / Purchase =====
// ===== Portfolio =====
.portfolio {
    padding: 10vh 0;
    text-align: center;

    &__title {
        font-size: 30px;
        @include Raleway();
        font-weight: 600;
        color: #555555;
        margin-bottom: 18px;
    }

    &__text {
        @include Montserrat();
        font-size: 16px;
        font-weight: 300;
        color: #8c8c8c;
        line-height: 28px;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 745px;
    }

    &__wrapper-top {
        margin-bottom: 50px;
    }

    &__box {
        @include Montserrat();
        font-weight: 300;
        color: #8c8c8c;
        font-size: 14px;
        padding: 8px 24px;
        margin: 0 5px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        cursor: pointer;
        transition: all .2s;
    }

    .active {
        background-color: #998675;
        border-color: #998675;
        color: #fff;
    }

    &__card {
        max-width: 350px;
        background-color: #fbfaf8;
        margin: 15px;

        &-image {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            &_hover {
                transition: all .3s;
                position: absolute;
                z-index: 10;
                background-color: rgba(#111111, 0);
                width: 100%;
                height: 97.5%;
                top: 0;
                left: 0;
                overflow: hidden;

                &-link {
                    position: absolute;
                    display: block;
                    top: 50%;
                    transform: translateY(-40%);
                    width: 35px;
                    height: 35px;
                }

                & .link {
                    left: -100%;
                    transition: all ease-in-out 0.3s;

                    &::before {
                        content: "\e909";
                        font-family: 'icomoon';
                        color: #fff;
                        font-size: 25px;
                        line-height: 35px;
                        text-align: center;
                    }
                }

                & .search-b {
                    right: -100%;
                    transition: all 0.3s;

                    &::before {
                        content: "\e90c";
                        font-family: 'icomoon';
                        color: #fff;
                        font-size: 25px;
                        line-height: 35px;
                        text-align: center;
                    }
                }
            }
        }

        &-text {
            margin-top: -6px;
            padding: 24px;
            text-align: left;
            position: relative;
            z-index: 10;
            transition: all .3s;

            &::before {
                content: "";
                width: 40px;
                height: 40px;
                background-color: #fbfaf8;
                position: absolute;
                top: -10px;
                transition: all .3s;
                transform: rotate(45deg);
                z-index: -1;
            }

            &_name {
                @include Raleway();
                font-size: 20px;
                font-weight: 500;
                color: #c7b299;
                margin-bottom: 5px;
            }

            &_category {
                @include Montserrat();
                font-weight: 300;
                font-size: 14px;
                color: #d1d1d1;
            }
        }

        // 362f2d
        &:hover &-image_hover {
            background-color: rgba(#000000, 0.5)
        }

        &:hover &-text,
        &:hover &-text::before {
            background-color: #362f2d;
        }

        &:hover .link {
            left: 33%;
            transition: all 0.3s;
        }

        &:hover .search-b {

            right: 33%;
        }
    }

    &__btn {
        margin-top: 35px;
        display: inline-block;
    }
}

// ===== / Portfolio =====

// ===== Video =====
.video {
    padding: 26vh 0;
    background-color: rgba(#000000, .5);
    background-image: url(../img/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center, center center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    transition: background-position 0.001s;
    text-align: center;
    color: #fff;

    &__play {
        display: block
        width: 100px;
        height: 100px;
        background-color: rgba(#000, 0.2);
        border-radius: 50%;
        margin: 0 auto;
        cursor: pointer;
        transition: all .3s;
        margin-bottom: 43px;

        &:before {
            content: "\e906";
            font-family: 'icomoon';
            color: #fff;
            font-size: 72px;
            line-height: 100px;
        }

        &:hover {
            background-color: rgba(#000, 0.5);
        }
    }

    &__title {
        @include Raleway();
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    &__text {
        @include Montserrat();
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        max-width: 570px;
        margin: 0 auto;
    }

    &__time {
        @include Montserrat() display: block;
        font-size: 14px;
        color: #c7b299;
        margin-top: 30px;
    }
}

// ===== / Video =====

.adaptive {
    padding-top: 10vh;
    background-color: #fbfaf8;

    &-image {
        width: 45%;
        height: 650px;
        background-image: url(../img/adaptive-photo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;

    }

    &-content {
        width: 70%;

        &__title {
            @include Raleway();
            font-size: 30px;
            font-weight: 600;
            color: #555555;
            margin-bottom: 35px;
        }

        &__text {
            @include Montserrat();
            font-size: 16px;
            font-weight: 300;
            color: #8c8c8c;
            line-height: 28px;
            margin-bottom: 40px;
        }

        &__list {
            @include Montserrat();
            font-weight: 300;
            padding-left: 70px;
            font-size: 16px;
            color: #8c8c8c;

            & li {
                position: relative;
                margin-bottom: 15px;

                &::before {
                    content: "\e90b";
                    font-family: 'icomoon';
                    display: block;
                    position: absolute;
                    top: -3px;
                    left: -40px;
                    color: #fff;
                    z-index: 10;
                    font-size: 20px;
                }

                &::after {
                    content: "";
                    width: 19px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #c7b299;
                    position: absolute;
                    top: -1px;
                    left: -40px;
                    z-index: 9;
                }
            }
        }
    }
}

// ===== Counters =====
.counters {
    padding: 4vh 0;
    background: linear-gradient(to right, #211b19 0%, #4e3427 100%);

    &__card {
        width: 140px;
        text-align: center;
        margin: 40px;

        &-image {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            margin-bottom: 20px;

            img {
                width: 100%;
            }
        }

        &-number {
            @include Montserrat();
            font-size: 48px;
            font-weight: 200;
            color: #fff;
            margin-bottom: 10px;
        }

        &-text {
            @include Montserrat();
            font-size: 14px;
            font-weight: 300;
            color: #c7b299;
            text-transform: uppercase;
        }

        &-line {
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin: 25px auto;
        }
    }
}

// ===== / Counters =====

// ===== Posts =====
.posts {
    padding: 10vh 0;
    text-align: center;

    &__title {
        @include Raleway();
        font-size: 30px;
        font-weight: 600;
        color: #555555;
    }

    &__text {
        @include Montserrat();
        font-size: 16px;
        font-weight: 300;
        color: #8c8c8c;
        line-height: 28px;
        max-width: 740px;
        margin: 20px auto 70px auto;
    }

    &__card {
        width: 370px;
        text-align: left;
        margin: 10px;

        &:hover &-image_date-top {
            background-color: #c7b299;
        }

        &:hover &-image_date-bot {
            background-color: #a48d72;
        }

        &:hover &-image_hover {
            background-color: rgba(#111111, 0.7);
        }

        &:hover &-content {
            background-color: #362f2d;
            border-color: #362f2d;
        }

        &:hover &-content_title {
            color: #c7b299;
        }

        &:hover &-content_text {
            color: #fff;
        }

        &-image {
            position: relative;

            &_hover {
                position: absolute;
                z-index: 5;
                width: 100%;
                height: 220px;
                background-color: rgba(#111111, 0);
                left: 0;
                top: 0;
                transition: all 0.3s;
            }

            &_date {
                position: absolute;
                z-index: 10;
                top: 20px;
                left: 20px;
                text-align: center;
                color: #fff;

                &-top {
                    @include Montserrat();
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 35px;
                    width: 50px;
                    height: 35px;
                    background-color: #363636;
                    border-radius: 3px 3px 0 0;
                    transition: all 0.3s;
                }

                &-bot {
                    @include Roboto();
                    font-size: 12px;
                    width: 50px;
                    height: 25px;
                    line-height: 25px;
                    background-color: #252525;
                    border-radius: 0 0 3px 3px;
                    transition: all 0.3s;
                }
            }

            img {
                width: 100%;
                height: 220px;
            }
        }

        &-content {
            margin-top: -4px;
            padding: 30px;
            border: 1px solid #f8f8f8;
            border-top: none;
            transition: all 0.3s;

            &_title {
                @include Raleway();
                font-size: 20px;
                font-weight: 500;
                color: #555555;
                margin-bottom: 10px;
            }

            &_text {
                @include Montserrat();
                font-size: 14px;
                font-weight: 300;
                color: #8c8c8c;
                line-height: 22px;
                margin-bottom: 20px;
            }

            &_more {
                @include Montserrat();
                font-size: 14px;
                font-weight: 300;
                color: #c7b299;
            }
        }
    }

    &__slider-buttons {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        &_left,
        &_right {
            margin: 25px 4px 0 4px;
            width: 25px;
            height: 25px;
            cursor: pointer;

            &::before {
                font-family: 'icomoon';
                color: #c7b299;
                font-size: 25px;
                transition: all 0.2s;
            }
        }

        &_left::before {
            content: "\e908";
        }

        &_right::before {
            content: "\e90b";
        }

        .slick-disabled::before {
            color: #d4d4d4;
        }
        .slick-slide{
            width: 370px;
        }
    }
}
// ===== / Posts =====

// ===== Partners =====
.partners{
    padding: 10vh 0;
    background-image: url(../img/partners/partners-bg.jpg);
    background-color: rgba(#111, 0.7);
    background-blend-mode: multiply;
    background-attachment: fixed;
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    &__image{
        width: 20%;
        img{
            width: 100%;
        }
    }
}

// ===== / Partners =====


.footer{
    padding-top: 10vh;
    background-color: #191919;
    &__wrapper {
        &-block{
            width: 24%;

            &__text{
                @include Montserrat();
                font-size: 14px;
                font-weight: 300;
                color: #555555;
                line-height: 24px;
                margin: 20px 0;
            }
            &__link{
                @include Montserrat();
                font-size: 14px;
                color: #d1d1d1;
            }
            &__title{
                @include Raleway();
                font-size: 24px;
                font-weight: bold;
                color: #ffffff;
                padding-top: 25px;
            }
            &__group{
                padding: 18px 0;
                &:nth-child(3){
                    border-top: 1px solid #252525;
                    border-bottom: 1px solid #252525;
                }
                &-date{
                    @include Montserrat();
                    font-weight: 300;
                    font-size: 12px;
                    color: #363636;
                }
                &-text{
                    @include Montserrat();
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    color: #555555;
                }
                &-time{
                    @include Montserrat();
                    font-weight: 300;
                    font-size: 12px;
                    color: #363636;
                    display: block;
                    margin-top: 5px;
                }
                &-image{
                    width: 48%;
                    margin-bottom: 8px;
                }
            }
            .gallery{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
    .blue{
        color: #00bff3;
    }
    .gray{
        color: #959595;
    }
    .brown {
        color: #c7b299;
    }
    &-bot{
        padding: 5vh 0;
        background: #111111;
        color: #555555;
        @include Montserrat();
        font-weight: 300;
        font-size: 13px;
        a {
            color: #555555;
            padding: 0 7px;
        }
    }
}


// ===== Media =====
@media screen and (max-width: 1300px) {
    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .services-card {
        width: 220px;
    }
}

@media screen and (max-width: 1220px) {
    .counters__card-text {
        font-size: 13px;
    }

    .adaptive-image {
        height: 560px;
    }

    .footer__wrapper-block {
        width: 35%;
    }
}

@media screen and (max-width: 1040px) {
    .services-card {
        width: 330px;
        margin-bottom: 50px;

        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        &__text {
            width: 260px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    .ideas__image {
        height: 310px;
    }

    .purchase-column__title {
        font-size: 24px;
    }

    .purchase-column__text {
        font-size: 16px;
    }

    .adaptive .wrapper {
        flex-direction: column-reverse;
    }

    .adaptive-content {
        width: 95%;
    }

    .adaptive-image {
        margin-top: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .header-content__slider-slide_t-title {
        font-size: 30px;
    }

    .header-content__slider-slide_b-title {
        font-size: 42px;
    }

    .header-content__slider-slide_text {
        font-size: 14px;
        max-width: 510px;
    }

    .portfolio__card {
        max-width: 310px;

        &-text_name {
            font-size: 18px;
        }
    }

    .footer-bot .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .footer-bot__left{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 936px) {}

@media screen and (max-width: 775px) {
    .services-card {
        width: 330px;
        margin-bottom: 50px;

        &:nth-last-child(2) {
            margin-bottom: 50px;
        }
    }

    .header-content__slider-slide_t-title {
        font-size: 27px;
    }

    .header-content__slider-slide_b-title {
        font-size: 35px;
    }

    .header-content__slider-slide_text {
        margin-bottom: 40px;
        font-size: 13px;
    }

    .ideas__image {
        height: 230px;
    }

    .purchase {
        .wrapper {
            flex-direction: column;
            align-items: center;
        }

        &-column:first-child {
            width: 100%;
            text-align: center;
            margin-bottom: 45px;
        }

        &-column:last-child {
            width: 100%;
            text-align: center;
        }
    }

    .portfolio__box {
        padding: 8px 12px;
    }

    .scrollTopBtn {
        right: 10px;
    }

    .counters .wrapper,
    .partners .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .posts__card-image img,
    .posts__card-image_hover{
        height: 280px;
    }

    .partners__image {
        width: 30%;
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .footer__wrapper-block {
        width: 45%;
    }
}

@media screen and (max-width: 620px) {
    .video__text {
        max-width: 380px;
    }

    .footer__wrapper-block {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 570px) {

    .header-content__slider-prev,
    .header-content__slider-next {
        display: none;
    }

    .header-mobile__menu-links {
        left: -40px;

        &::before {
            left: 36%;
        }
    }

    .header-content__slider-slide_t-title {
        font-size: 30px;
    }

    .header-content__slider-slide_b-title {
        font-size: 35px;
    }

    .header-content__slider-slide_text {
        font-size: 13px;
    }

    .open-menu {
        left: 5px;
    }

    .portfolio__box {
        padding: 8px 24px;
        margin: 5px 10px;
    }
}

@media screen and (max-width: 500px) {
    .header-content__slider-slide_t-title {
        font-size: 25px;
    }

    .header-content__slider-slide_b-title {
        font-size: 30px;
    }

    .header-content__slider-slide_text {
        margin-bottom: 50px;
        font-size: 12px;
    }

    .ideas__title {
        font-size: 22px;
    }

    .ideas__text {
        font-size: 14px;
    }

    .ideas__image {
        background-size: cover;
    }

    .adaptive-content__title {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .adaptive-content__text {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .adaptive-content__list {
        padding-left: 50px;
        font-size: 13px;
    }
    .posts__card-image img,
    .posts__card-image_hover{
        height: 260px;
    }
    .footer__wrapper-block {
        width: 70%;
    }
}

@media screen and (max-width: 410px) {
    .header-mobile__brand a img {
        width: 120px;
    }

    .header-content__slider {
        padding-top: 10vh;
    }

    .video__title {
        font-size: 24px;
    }

    .video__text {
        font-size: 14px;
    }

    .adaptive-image {
        height: 460px;
    }

    .posts__card-image img,
    .posts__card-image_hover{
        height: 220px;
    }

    .footer__wrapper-block {
        width: 80%;
    }

    .footer-bot{
        font-size: 8px;
    }
}

// ===== / Media =====


// container
@media (min-width: 575.98px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767.98px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px) {
    .container {
        max-width: 1140px;
    }
}
